@font-face{
    font-family: '이쁜폰트';
    font-weight: 100;
    src : url(/NanumSquare-master/NanumSquareR.eot);
    src : url(/NanumSquare-master/NanumSquareR.eot?#iefix) format('embedded-opentype'),
        url(/NanumSquare-master/NanumSquareR.woff) format('woff'),
        url(/NanumSquare-master/NanumSquareR.ttf) format('truetype');
}


body{
    font-family: '이쁜폰트';
  }

  // .box:hover {
//     animation-name : 움찔움찔;
//     animation-duration : 1s;
//     animation-timing-function : linear; /*동작속도(transition 강의참고)*/
//     animation-delay : 1s; /*시작 전 딜레이*/
//     animation-iteration-count : infinite; /*몇회 반복할것인가*/
//     animation-play-state : paused;  /*애니메이션을 멈추고 싶은 경우 자바스크립트로 이거 조정*/
//     animation-fill-mode: forwards;  /*애니메이션 끝난 후에 원상복구 하지말고 정지*/
//   }

.video-box{
    height: 500px;
    width:100%;
    overflow:hidden;
    position: relative;
    .video-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    // 가운데정렬 필살기
    }
    .video-title{
        color: white;
        position: absolute;
        font-size: 30px;
        width: 100%;
        text-align: center;
        top: 30%;
    }
    .ani-test{
        margin-top:50px;
        &:hover{
        animation-name: test;
        animation-duration: 1s;
        }
        .ani-button{
            padding: 20px;
            font-size: 22px;
            background: skyblue;
            border: none;
            border-radius: 5px;
            color: white;
            margin: auto;
            display: block;
            margin-top: 150px;
        }
    }

@keyframes test {
    0% {
        transform: rotate(0deg);
    }        
    25% {
        transform: rotate(-8deg)
    }
    50% {
        transform: rotate(8deg)
    }
    75% {
        transform: rotate(-8deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
    // transform의 장점
    // 1.margin과 달리 붕 떠서 움직이므로 다른요소 영향 x
    // 2.html랜더링 순서상 width/margin보다 먼저 랜더링 되므로 시간단축, 매끄러운 표현 가능 
}

.ani-x {
    position:fixed;
    bottom:0;
    right: 0;
    font-size: 70px;
    width: 84px;
    cursor: pointer;
    &:hover{
        animation-name: X-rotate;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes X-rotate {
        0%{
            transform:rotate(0deg)
        }
        25%{
            transform:rotate(-15deg)
        }
        100%{
            transform:rotate(45deg) scale(2)
        }
        
    }
  }

.navbar1 {
    width: 300px;
    background: black;
    color: white;
    height: 100%;
    padding: 25px;
    position: fixed;
    text-align: right;
    z-index: 5;
    transition: all 1s;
    transform: translateX(-190px);
    &:hover{
        transform: translateX(0px);
        text-align: center;
        .navbar-item{
            transform: translateX(0px);
        }
    }
    .navbar-item{
        transition: all 1s;
        transform: translateX(-400px);
    }
}

