.video-box{
    height: 500px;
    width:100%;
    overflow:hidden;
    position: relative;
    .video-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    // 가운데정렬 필살기
    }
    .video-title{
        color: white;
        position: absolute;
        font-size: 30px;
        width: 100%;
        text-align: center;
        top: 30%;
    }
}

