
.main-background {
    width: 100%;
    height: 500px;
    padding-top:150px;
    background-image: url(shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
    background-attachment : fixed;
}



.main-title {

}

.main-content {
    padding: 30px;
}

.main-title-box {
        color: white;
    text-align: center;
    font-size: 30px;
}
