
.profile { 
    width : 200px;
    height: 200px;
    border-radius: 25px;
    display : block;
    margin : auto;
}

.title {
    font-size: 26px;
    text-align: center;
}

.special {
    font-size: 16px;
    text-align: center;
}

p {
    font-size: 10px
}

.description-box {
    width: 400px;
    background-color: cadetblue;
    margin-top: 50px;
    padding: 30px;
    border-radius: 6px;
    color: white;
    display: block;
    margin: auto;
    
}
