.grey-background {
    background: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 90px;
    margin-top: 100px;
  }

  .product-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
  }
  
  .product-item {
    float: left;
    width: 33.3%;
    padding: 15px;
  }
  .product-item img { 
    width: 100%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition:all 1s;
  }
  .overlay:hover{
      opacity:1;
  }

  .overlay p {
    color: white;
    text-align: center;
    padding-top: 37%;
    font-size:30px;
  }

