.grey-background {
    background: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 90px;
    margin-top: 100px;
  }

  .product-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
  }
  
  .product-item {
    float: left;
    width: 33.3%;
    padding: 15px;
  }
  .product-item img { 
    width: 100%;
  }

  .wrap-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
  }
.overlay-black{
    width:100%;
    height:100%;
    background:rgb(0,0,0,0.3);
    position: relative;
    top:100%;
    transition: all 0.5s;
}

.wrap-overlay:hover .overlay-black{
    top:50%;
}